* {
  margin: 0;
  padding: 0;
}
body {
  background: #333;
}
#canvas {
  width: 800px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  filter: blur(1px);
  cursor: crosshair;
}
#start {
  font-size: 30px;
  padding: 10px;
  border: 1px solid white;
  background: transparent;
  border-radius: 5px;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#start:hover {
  background: white;
  color: black;
}
