*{
    margin:0;
    padding:0;
}
body{
    background:#333;
}
#back{
    position:absolute;
}
span.word{
    width:80px;
    left:-5px;
    top:-5px;
    position:absolute;
    color:white;
    text-shadow: 0 0 4px #1e90ff,0 0 8px #1e90ff ;
}