* {
    margin: 0;
    padding: 0;
}

body {
    background: #333;
}

#canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    /* cursor:none; */
    filter: drop-shadow(0 0 2px white);
}

#start {
    width: 120px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    background: rgba(255, 255, 255, 0.4);
    justify-content: center;
}