* {
    margin: 0;
    padding: 0;
}

body {
    /* background: #333; */
    overflow: hidden;
    background:url("nature.jpg");
    background-size: cover;
    background-position: center center;
}
#canvas{
    filter:blur(2px);
   
}